body {
 margin: 0%;
 font-family: 'MedievalSharp', cursive;
}

#box {display: flex;
  flex-direction: column;
  text-align: center;
  text-shadow: darkgray;
  background-image: url(https://cdn.pixabay.com/photo/2020/08/15/19/14/hand-5491212_1280.jpg);
  height: 100vh;
  width: 100%;
  background-size: contain;
}

h1 {
  
  color: cornsilk;
  opacity: .7;
  font-family: 'MedievalSharp', cursive;
  font-size: 3.5em;
  margin-top: 10px;
  margin-bottom:0;
}

span {
  color: cornsilk;
  opacity: .8;
  font-family: 'MedievalSharp', cursive;
  font-size: 2.5em;
}
