#box {
  border: 15px solid blue;
  border-radius: 25px;
  text-align: center;
  margin: auto;
  width: 500px;
  height: 200px;
  font-family: cursive;
  background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
  background-size: 110px 200px;
  background-repeat: repeat-x;
}


#social {
  width: 500px;
  margin: auto;
 }

body {
  background-color: green;
  }

h1 {
  font-size: 2.2em;
  margin-top: 10px;
  margin-bottom:0;
}

span {
  font-size: 1.5em;
}